<%- include('./partials/head') %>
<section>
  <h1>Welcome to the squadpage of 1D</h1>
  <div class="filters">
    <select>
      <option value="None">No filter</option>
      <option value="Name">Name</option>
      <option value="Surname">Surname</option>
    </select>
  </div>
</section>
<section>
  <div class="grid">
    
    <% data.forEach(person => { %>
      <div class="card" >
        <a href="./person/<%= person.name %>"><%= person.name %></a>
      </div>
    <% }) %>
  </div>
</section>
<script src="/script.js"></script>
<script src="/filter.js"></script>
<%- include('./partials/foot') %>
  