<%- include('./partials/head') %>
<section>
  <h1> Squadpage of 1D</h1>
  <div class="filters">
    <select class="filter">
      <option value="none">No filter</option>
      <option value="name">Name</option>
      <option value="surname">Surname</option>
    </select>
  </div>
</section>
<section>
  <div class="grid">
    
    <% data.forEach(person => { %>
      <div class="card" >
        
        <a href="<%= person.link %>"><%= person.name %></a>
      </div>
    <% }) %>

  </div>
</section>

<script src="/script.js"></script>
<script src="/filter.js"></script>\

<%- include('./partials/foot') %>
  