<%- include('./partials/head') %>

<ul>
  <% data.forEach(person => { %>
    <li><a href="./squad/<%= person.id %>"><%= person.squad_id %></a></li>
  <% }) %>
</ul>

<%- include('./partials/foot') %>
