


:root{
  /* Colors */
  --main: #fff;
  --primary: #07072b;
      --primary-low: #04041a;
  --secondary: #DB59DE;
      --secondary-low: #c750c9;
  --alternative: #41BBE0;
      --alternative-low: #3daed0;
  --accent: #E0A600;
      --accent-low: #d69d00;
  --grey-one: #ebeaea;
  --grey-two: #d6d4d4;
  --grey-three: #c8c8c8;

  /* Spacing */
  --none: 0px;
  --extra-small:  4px;
  --small: 8px;
  --medium: 16px;
  --large: 32px;
  --extra-large: 64px;
  --extra-extra-large: 128px;

  /* Borders */
  --button: 4px;
  --radius-small: 4px;
  --radius-medium: 8px;
  --radius-large: 12px;
  --radius-extra-large: 16px;

  /* default font */
  font-family: Arial, Helvetica, sans-serif;

}
/* main styling of headings */
h1{
  font-size: 56px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

h2{
  font-size: 46px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

p{
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;

}
/* start of page */
section{
  scroll-behavior: smooth;
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--large) var(--medium);
  & .filters{
    background-color: var(--main);
    width: min-content;
    box-shadow: 0.8px 1.7px 3.7px hsl(0deg 0% 0% / 0.24);
    padding: var(--medium);
    position: fixed;
    height: 200px;
    border-radius: var(--small);

  }
    
    & select{
      padding: var(--small) var(--medium);
      text-indent: 0px;
      background-color: var(--main);
      border-radius: var(--button);
      border: 2px solid var(--primary-low);
      color: var(--primary-low);
      width: 200px;
      font-size: 18px;
      font-weight: 600;
      transition: ease-in 0.1s;
      &:hover{
        cursor: pointer;
        background-color: var(--primary-low);
        color: var(--main);
        border-radius: var(--button);
        transition: ease-in 0.2s;
      }

  }
  
  }

.grid{
  margin: 0 auto;
  margin-top: -64px;
  padding-left: var(--large);
  max-width: min-content;
  display: grid; 
  grid-auto-flow: column; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: repeat(6, 1fr);
  gap: var(--large); 

  & .card{
    border-radius: var(--radius-small);
    width: 200px;
    height: 272px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 16px var(--small);
    box-shadow: inset  0.8px 1.7px 3.7px hsla(0, 0%, 0%, 0.44);
    transition: ease-out 0.3s;
      transform: rotate3d(1, 5, 1, 0deg) scale(100%);

    & img{
      height: 220px;
      width: 180px;
      object-fit: cover;
      box-shadow:  0.8px 1.7px 3.7px hsla(0, 0%, 0%, 0.44);
    }
    & a{

      color: black;
      text-decoration: none;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 20px;
      font-weight: 700;
      margin: 0;
      margin-top: var(--medium);
    }

    &:hover{
      box-shadow: inset  0.8px 1.7px 3.7px hsla(0, 0%, 0%, 0.44), 0.8px 1.7px 3.7px hsl(0deg 0% 0% / 0.24);
      cursor: pointer;
      transition: ease-in 0.2s;
      transform: rotate3d(1, 5, 1, 15deg) scale(102%);
    }
  }
}

@media (max-width: 1200px) and (min-width: 500px){
  section{
    max-width: 712px;
    & .filters{
      background-color: var(--main);
      width: min-content;
      position: relative;
      height: min-content;
    }
  }
  .grid{
    margin: 0 auto;
    margin-top: var(--none);
    padding-left: var(--none);
    max-width: min-content;
    display: grid; 
    grid-auto-flow: column; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: repeat(6, 1fr);
    gap: var(--large); 
  
  }
}


@media (max-width: 500px) and (min-width: 200px){
  section{
    max-width: 712px;
    & h1{
      text-align: center;
    }
    & .filters{
      width: 100%;
      height: min-content;
      background-color: rgba(255, 255, 255, 0.835);
      position: fixed;
      bottom: 0px;
      margin-left: -24px;
      box-shadow: var(--none);
      border-radius: var(--none);
      padding: var(--large);
      z-index: 4;
    }
  }
  .grid{
    margin: 0 auto;
    margin-top: var(--none);
    padding-left: var(--none);
    max-width: min-content;
    display: flex; 
    flex-direction: column;
  
  }
}